$transition-time: 0.5s;

.user-menu {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 100vh;
  width: 250px;
  box-shadow: 0 0 10px white;
  border-left: 1px solid lightgray;
  transition: transform $transition-time ease-in-out;
  background-color: #fff;
}

.toggle-menu-btn {
  margin: 15px 15px;
  transition: $transition-time ease-in-out;
}

.user-menu-hide {
  transform: translateX(100%);
  box-shadow: none;

  .toggle-menu-btn {
    margin-left: -40px !important;
    padding-right: 30px;
  }
}
