<nav class="navbar">
  <div class="container">
    <a href="#" class="logo">Lightv Study</a>
    <ul class="nav-links">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/courses" routerLinkActive="active">Courses</a></li>
      @if (isSignedIn()) {
      <li><a routerLink="/user/me" routerLinkActive="active">My Account</a></li>
      <li><button (click)="onLogout()">Logout</button></li>
      }@else {
      <li><a routerLink="/user/login" routerLinkActive="active">Login</a></li>
      }
    </ul>
  </div>
</nav>
